<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.dengot.spritmonitor"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:name=".SpritmonitorApplication">
        <activity android:name=".activity.VehicleListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FuelingListActivity" android:label="Betankungen"/>
        <activity android:name=".activity.VehicleFormActivity" android:label="Fahrzeug bearbeiten"/>
        <activity android:name=".activity.FuelingFormActivity" android:label="Betankung bearbeiten"/>
        <activity android:name=".activity.VehicleDetailActivity" android:label="Fahrzeugdetails"/>
    </application>
</manifest> 
